body{
  font-family:'Nanum Barun Gothic';
  word-break: keep-all;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

.bold{
  font-weight: bold;
}

.width
.gray{
  color: #eee;
}

.red{
  color: rgb(247, 0, 0);
}

.bgGray{
  background-color: #eee;
}

.left{
  text-align: left;
}