nav {
    height:100px;
    text-align: center;
  }

.info{
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }

.info .info-row{
   height: 300px;
  }

.desc{
    height:60%;
  }

@media (max-width: 767px) {
  .desc{
      height:60%;
    }
  .desc h4{
      font-size: 1em;
    }
  .desc p{
      font-size: 0.8em;
    }
  }
  
.icon{
    margin-top: 10px;
    height: 30%;
  }

.icon img{
    height: 100%;
    width: auto;
  }

.info-item{ 
    float: left;
    width: 25%;
    height: 100%;
    padding: 25px 0;
    text-align: center;
    background-color: #eee;
  }   

.bg-blue{
    background-color: #164f7efa;
    color: #fff;
  }