body{
    font-family:'Nanum Barun Gothic';
    word-break: keep-all;
  }
  
  li{
    list-style: none;
  }
  
  img{
    width: 100%;
  }
  
  .bold{
    font-weight: bold;
  }
  
  .width
  .gray{
    color: #eee;
  }
  
  .red{
    color: rgb(247, 0, 0);
  }
  
  .bgGray{
    background-color: #eee;
  }
  
  .left{
    text-align: left;
  }
  
  .margin10{
    margin-top:10px;
  }

  .container.main{
    min-height: 700px;
}

.test {
    font: inherit;
    outline: 0;
    overflow: visible;
    border-radius: 0;
    margin: 0;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_tooltip_190531.png) no-repeat;
    display: block;
    width: 74px;
    height: 34px;
    padding: 7px 0 10px 27px;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    background-position: 0 -138px;
    color: #fff;
    text-align: left;
}