.Footer {
    padding: 2em 0  2em 0;
    text-align: left;
    margin-top: 20px;
    background-image: linear-gradient(to bottom,#f8f8f8 0,#fff 100%);
  }
  
    .Footer .leftAlign{
      float: left;
      width : 60%;
      text-align: left;
    }

    .Footer .rightAlign{
      float: right;
      width : 40%;
      text-align: right;
    }

    .Footer .rightAlign ul{
      text-align: right;
    }

    .Footer .icons .icon.alt {
      text-decoration: none;
    }
    
    @media (max-width: 767px) {
      .Footer .leftAlign{
        font-size: 10px;
        float: left;
        width : 100%;
        text-align: left;
      }
  
      .Footer .rightAlign{
        font-size: 10px;
        float: left;
        width : 100%;
        text-align: left;
      }

      .Footer .rightAlign ul{
        text-align: left;
      }

    }

      .Footer .icons .icon.alt:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
      }
  
      .Footer .icons .icon.alt:before {
        color: #272833 !important;
        text-shadow: 1px 0 0 rgba(255, 255, 255, 0.5), -1px 0 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5);
      }
  
    .Footer .copyright {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1em;
      line-height: 1em;
      margin: 2em 0 0 0;
      padding: 0;
      text-align: left;
    }
  
      .Footer .copyright li {
        border-left: solid 1px rgba(255, 255, 255, 0.3);
        display: inline-block;
        list-style: none;
        margin-left: 1.5em;
        padding-left: 1.5em;
      }
  
        .Footer .copyright li:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }
  
        .Footer .copyright li a {
          color: inherit;
        }
        
    .Footer .info {
      font-size: 1em;
      line-height: 1em;
      margin: 10px 0 0 0;
      padding: 0;
      text-align: left;
    }
  
      .Footer .info li {
        border-left: solid 1px rgba(255, 255, 255, 0.3);
        display: inline-block;
        list-style: none;
      }
  
        .Footer .info li:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }
  
        .Footer .info li a {
          color: inherit;
        }
        
        .Footer .info li span {
          font-weight: 1000;
        }
  
        .Footer .info li:before {
          content: '';
          display: inline-block;
          margin: 0 10px;
          width: 1px;
          height: 12px;
          background: #acacac;
        }
  
        .Footer .info li:first-child:before {
          display:none;
        }